/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.8;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------------------------------------------*/
sup {
	font-size: 0.75em;
	left: -0.2em;
	top: -1.25em;
	margin-left: -1em;
	position: relative;
	line-height: 1;
}
p {
	font-size: 0.95em;
	font-family: 'Sawarabi Mincho', serif;
}
.jp {
	font-size: 1em;
	font-family: 'Kosugi Maru', sans-serif;
}
h1 {
	font-family: 'Mochiy Pop One', sans-serif;
}
header {
	position: fixed;
	left: 0 !important;
	top: 0 !important;
}
#home {
	padding-left: 10%;
	padding-right: 40%;
	padding-top: 5em;
}
#compare {
	padding-top: 5em;
}
#list {
	display: grid;
	grid-template-columns: 10% 25% 25% 40%;
	column-gap: 0.5em;
}
#bg {
	position:fixed;
	top: 0 !important;
	width: 100vw;
	height: 100vh;
	z-index: -2;
}
.chart {
	margin-left: 15vw;
	max-width: 40vw;
	width: auto;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#sideBar {
	z-index: -1;
	top: 0 !important;
	position: fixed;
	margin-left: 61%;
	width: 40%;
	height: 100%;
	background-color: #1b1b1b;
}
#sideBar2 {
	z-index: -1;
	left: 0 !important;
	top: 0 !important;
	position: fixed;
	width: 10%;
	height: 100%;
	background-color: #1b1b1b;
}
#firstPoint {
	grid-column-start: 2;
	grid-column-end: 4;
	text-align: center;
}
.listPoint {
	grid-column-start: 2;
	grid-column-end: 4;
	text-align: center;
	padding-top: 1.5em;
}
.ENlist {
	grid-column-start: 2;
	grid-column-end: 3;
	padding-right: 3em;
	padding-left: 2em;
	padding-bottom: 1.5em;
}
.JPlist {
	grid-column-start: 3;
	grid-column-end: 4;
	text-align: right;
	padding-left: 3em;
	padding-right: 2em;
	padding-bottom: 1.5em;
}
.explain {
	padding-left: 1em;
	padding-right: 3em;
	grid-column-start: 4;
	color:aliceblue;
}
/*-------------navigation bar------------------*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1b1b1b;
} 
li {
	float: left;
	font-family: 'Sawarabi Mincho', serif;
	font-size: 0.75em;
} 
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
} 
li a:hover {
	background-color: #ff4b4b;
}
.active {
	background-color: #c81010;
}